#top{background-color:#fef0e8;margin-top: 3%;}

h2{color:#1c4587; font-size: 3rem;font-weight: bolder;}
h3{color:#1c4587; font-weight: bold; font-size: 2rem;}
p{font-family:'Poppins', sans-serif; }

.navbar-light{background-color: white;}
.home{font-weight: bold;}
.main_heading{margin-top: 3%; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 800;font-size: 3.5rem;
color: #1c4587;text-decoration: underline;}
.profile_picture {width: 85%; height: 90%; margin-top: 6%;}
.emphasize{font-weight: bold;}
.top-content{margin-top: 3%;}
