h2{font-family:'Poppins', sans-serif;color:#1c4587; font-size: 3rem;font-weight: bolder;}
h3{font-family:'Poppins', sans-serif;color:#1c4587; font-weight: bold; font-size: 2rem;}
h5{font-family:'Poppins', sans-serif;color:#1c4587; font-weight: bold; font-size: 1.4rem;}
h4{font-family:'Poppins', sans-serif;color:#1c4587; font-weight: bold; font-size: 1.6rem;}
p{font-family:'Poppins', sans-serif;line-height:1.5;}
ul{font-family:'Poppins', sans-serif;line-height:1.5;}
hr{margin-top: 3.5%;}

.top{background-color:#fef0e8;margin-top: 3%;}
.navbar-light{background-color: white;}
.home{font-weight: bold;}
.main_heading{margin-top: 3%; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 800;font-size: 3.5rem;
color: #1c4587;text-decoration: underline;}
.profile_picture {width: 85%; height: 90%; margin-top: 6%;}
.emphasize{font-weight: bold;}
.top-content{margin-top: 3%; padding-left: 0;}



.about_course{margin-top: 3%;}
.editing_workspace{width: 85%; height: 90%;}

.course_gist{margin-top: 2%;}

.outcome{margin-top: 3%;}
.editing_software{width: 85%; height: 90%;}

.course_typ{margin-top: 2%; background-color:#fef0e8; }
.notice{font-family:'Poppins', sans-serif;font-weight: bold;}
.crash_course{width: 80%; height: 60%;}
.advance{width: 80%; height: 60%;}


.training{width: 80%; height: 60%;}
.download{width: 80%; height: 60%;}

.footer{background-color: #c6ddea;text-align: center; padding: 2.5% 0;}
.end_line{font-family:'Poppins', sans-serif;font-style: italic;font-weight:500; margin-bottom:0;}
.closure{color:#a09f9c;}
